<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/main.css" media="none" onload="media='all'">
	<style>
		body {
			--ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
			margin: 0;
		}
		/*
		 * Loading Spinner
		*/
		.spinner {
			--spinner-size: 50px;
			position: fixed;
			width: var(--spinner-size);
			height: var(--spinner-size);
			perspective: 1000px;
			animation: fade-in .75s var(--ease-in-out-cubic);
		}
		.spinner--viewport {
			--spinner-size: 200px;
			left: calc(50vw - var(--spinner-size) / 2);
			margin: calc(50vh - var(--spinner-size) / 2) 0;
		}
		.spinner__line {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		.spinner__line:nth-child(1) {
			animation: spinner-line 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
			border-bottom: calc(var(--spinner-size) / 12) solid #aaaa;
		}
		.spinner__line:nth-child(2) {
			animation: spinner-line 10s -5s cubic-bezier(0.445, 0.05, 0.55, 0.95) reverse infinite;
			border-top: calc(var(--spinner-size) / 12) solid #aaaa;
		}
		@keyframes spinner-line {
			16.7% {	transform: rotateX(30deg) rotateY(-60deg) rotateZ(0deg); }
			33.3% { transform: rotateX(-15deg) rotateY(15deg) rotateZ(360deg); }
			50% { transform: rotateX(30deg) rotateY(-15deg) rotateZ(0deg); }
			66.7% { transform: rotateX(-15deg) rotateY(30deg) rotateZ(360deg); }
			83.3% { transform: rotateX(30deg) rotateY(15deg) rotateZ(0deg); }
			0%, 100% { transform: rotateX(-15deg) rotateY(60deg) rotateZ(360deg); }
		}
		@keyframes fade-in {
			from { 
				opacity: 0;
				transform: scale(0);
			}
			to { 
				opacity: 1;
				transform: scale(1);
			}
		}
		@keyframes fade-out {
			from { 
				opacity: 1;
				transform: scale(1);
			}
			to { 
				opacity: 0;
				transform: scale(0);
			}
		}
	</style>
	<script defer src="/js/main.js"></script>
</head>

<body>
	<div class='spinner spinner--viewport'>
		<div class='spinner__line'></div>
		<div class='spinner__line'></div>
	</div>
	<div class="main-container">
		<div class="header">

		</div>
		<div class="login-container">
			<div class="login-background"></div>
			<input type="text" class="login-input">
		</div>
		<div class="notes-container">
			
		</div>
	</div>
</body>
</html>
