<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script defer src="/js/typingdna.js" type="text/javascript"></script>
	<script defer src="/js/lang.js" type="text/javascript"></script>
	<script defer src="/js/main.js" type="text/javascript"></script>
</head>

<body>
	<div id="main-spinner" class="spinner spinner--viewport">
		<div class="spinner__line"></div>
		<div class="spinner__line"></div>
	</div>
	<div id="main-container" class="main-container">
		<div class="header">

		</div>
		<div class="login-container">
			<input type="text" id="login-input" class="login-input" tabindex="1">
			<button class="login-button" tabindex="1"></button>
			<div class="login-help">
				<div class="spinner spinner-inline login-help-spinner">
					<div class="spinner__line"></div>
					<div class="spinner__line"></div>
				</div>
				<span class="login-help-text login-help-text__1"></span>
				<span class="login-help-text login-help-text__2"></span>
				<div class="login-help-extra"></div>
			</div>
		</div>
		<div class="notes-container">
			<textarea name="note" cols="30" rows="10" id="note-input__1" class="note-input"></textarea>
		</div>
	</div>
</body>
</html>
