.main-container {
    width: 100%;
    height: 100%;
}

.login-container {
    position: sticky;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.login-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-input {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
}